<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div class="navbar d-flex justify-content-between">
        <div>
          <%= link_to restaurants_path do %>
            <h3  class="navbar-info">Restaurants</h3>
          <% end %>
        </div>
        <div>
          <%= link_to new_restaurant_path do %>
            <h3 class="navbar-info">  Add a restaurant</h3>
          <% end %>
        </div>
    </div>
    <%= yield %>
  </body>
</html>
